<h1>Welcome!</h1>
<p>Do you keep "forgetting" the things you have to do? Write
  them down and check them off as you finish them with this 
  todo list! Now you'll never forget again.</p>

<p><%= link_to "Let's Get Started!", todos_path %></p>