<h1>Todo Lists</h1>
<p><%= link_to 'New List', new_todo_path %></p>
<% @todos.each do |todo| %>
  <h2><%= todo.title %></h2>
  <%= link_to 'Show list', todo_path(todo) %>
  <%= link_to 'Edit list', edit_todo_path(todo) %>
<% end %>
